<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687682866295-fogmj6jh683nrhkl11cnqj7d8t9mnef1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687682866295-fogmj6jh683nrhkl11cnqj7d8t9mnef1</string>
	<key>API_KEY</key>
	<string>AIzaSyBYQWsGKfLn1am6aNeM9aszGJX2OBgySP8</string>
	<key>GCM_SENDER_ID</key>
	<string>687682866295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.qdtrl.WeSail</string>
	<key>PROJECT_ID</key>
	<string>wesail-e9055</string>
	<key>STORAGE_BUCKET</key>
	<string>wesail-e9055.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687682866295:ios:3c57423fd447b8114b8a72</string>
	<key>DATABASE_URL</key>
	<string>https://wesail-e9055-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>