<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmRsiWilmii-7gz5Jtfw5KQQGFZ5gShPU</string>
	<key>GCM_SENDER_ID</key>
	<string>1036693740946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.qdtrl.WeSail</string>
	<key>PROJECT_ID</key>
	<string>wesailopc</string>
	<key>STORAGE_BUCKET</key>
	<string>wesailopc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036693740946:ios:2c3fa9aa3bfd29e079b54b</string>
	<key>DATABASE_URL</key>
	<string>https://wesailopc-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>